:root {
  --container-bg: #181818;
  --text-color: #e0e0e0;
  --text-secondary: #b0b0b0;
  --text-tertiary: #808080;
  --border-color: #2B2B2B;
  --hover-bg: #383838;
  --primary-color: #383838;
  --primary-hover: #4a4a4a;
  --primary-active: #383838;
}

.light-mode {
  --container-bg: #ffffff;
  --text-color: #333;
  --text-secondary: #666;
  --text-tertiary: #999;
  --border-color: #e5e5e5;
  --hover-bg: #eeeeee;
  --primary-color: #eeeeee;
  --primary-hover: #e3e3e3;
  --primary-active: #eeeeee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PingFang SC", "Microsoft YaHei", sans-serif;
  background-color: var(--bg-color);
  padding: 0px;
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.container {
  margin: 0 auto;
  padding: 0px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.view-controls {
  flex: 0 0 auto;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
}

.search-input {
  flex: 1;
  width: 100%;
  font-size: 14px;
  color: var(--text-color);
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 6px 10px;
  outline: none;
}

.search-input:focus {
  border-color: var(--primary-hover);
}
.search-input:active {
  border-color: var(--primary-hover);
}

.view-btn {
  width: 28px;
  height: 28px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}
.view-btn.active {
  background-color: var(--primary-color);
  color: white;
}
.view-btn:hover:not(.active) {
  background-color: var(--border-color);
}

.view-contents {
  flex: 1;
  overflow-y: auto; /* 允许垂直滚动 */
}

.directory-selector {
  flex: 0 0 auto;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  border-top: 1px solid var(--border-color);
}

.directory-path {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  flex: 1;
  padding: 5px;
  background-color: var(--hover-bg);
  border-radius: 4px;
  font-size: 12px;
  color: var(--text-secondary);
}

.refresh-btn {
  width: 26px;
  height: 26px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: var(--primary-color);
}
.refresh-btn:hover {
  background-color: var(--primary-hover);
}
.refresh-btn:active {
  background-color: var(--primary-active);
}

.select-dir-btn {
  width: 60px;
  padding: 6px;
  font-size: 12px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.select-dir-btn:hover {
  background-color: var(--primary-hover);
}
.select-dir-btn:active {
  background-color: var(--primary-active);
}

/* 列表视图样式 */
.list-view {
  display: none;
}
.list-view.active {
  display: block;
}
.list-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--border-color);
  transition: background-color 0.2s;
}
.list-item:hover {
  background-color: var(--hover-bg);
}
.list-item img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-right: 15px;
  border: 1px solid var(--border-color);
  padding: 2px;
  background-color: var(--container-bg);
}
.list-item .image-info {
  max-width: 100%;
  flex: 1;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
}
.list-item .image-name {
  font-size: 16px;
  margin-bottom: 5px;
  color: var(--text-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.list-item .image-path {
  font-size: 12px;
  color: var(--text-tertiary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 网格视图样式 */
.grid-view {
  display: none;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  padding: 10px;
}
.grid-view.active {
  display: grid;
}
.grid-item {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: var(--container-bg);
}
.grid-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px var(--shadow-color);
}
.grid-item .image-container {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--hover-bg);
  padding: 10px;
}
.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.grid-item .image-info {
  padding: 10px;
  /* background-color: var(--container-bg); */
  white-space: nowrap;
  overflow: hidden;
}
.grid-item .image-name {
  font-size: 14px;
  margin-bottom: 5px;
  color: var(--text-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.grid-item .image-path {
  font-size: 12px;
  color: var(--text-tertiary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.loading {
  text-align: center;
  padding: 20px;
  font-size: 16px;
  color: var(--text-secondary);
}
.no-images {
  text-align: center;
  padding: 40px 0;
  color: var(--text-tertiary);
  font-size: 16px;
}
